header {
  background-color:#B1B5B5;
font-size: 150%;}

nav {}
  nav ul {margin:0; padding:0; list-style:none;}
  nav a {display:block; padding:1em; border:1px solid black;}
nav li {display:inline-block; width:33%;}
nav {margin-bottom:2em;}

body {background-color:#B1B5B5;}
    
footer {font-size: 75%;diplay: inline-block; }

vcard {display:inline-block; width: 19%;}